/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #F45B69;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    padding: 20px;
}

.section-light {
    background-color: #FFE0D1;
    padding: 50px;
    text-align: center;
}

.section-light h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F45B69;
}

.section-light .pitaya-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-dark {
    background-color: #593F62;
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.section-dark h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFA9A3;
}

.section-dark .pitaya-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitaya-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pitaya-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
    animation: moveImage 3s infinite alternate;
}

.tipos_pitaya {
    display: flex;
    justify-content: center;

}

.tipos_pitaya table {
    
}

.tipos_pitaya th {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.tipos_pitaya th:first-child {
    background-color: #E2619A;
}

.tipos_pitaya th:nth-child(2) {
    background-color: #91010B;
}

.tipos_pitaya th:last-child {
    background-color: #F7AD00;
}


@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

.lights {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.lights::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.5),
        rgba(0, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
    );
    animation: moveLights 10s infinite;
}

@keyframes moveLights {
    0% {
        transform: translate(-10%, -10%);
    }
    50% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
}
