@font-face {
    font-family: 'Amatic_SC';
    src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('ttf');

    font-family: 'Dancing_Script';
    src: url('fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('ttf');

    font-family: 'Great_Vibes';
    src: url('fonts/Great_Vibes/GreatVibes-Regular.ttf') format('ttf');

    font-family: 'Lobster';
    src: url('fonts/Lobster/Lobster-Regular.ttf') format('ttf');

    font-family: 'Pacifico';
    src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('ttf');

    font-family: 'Pinyon_Script';
    src: url('fonts/Pinyon_Script/PinyonScript-Regular.ttf') format('ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.plantandoTexto {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f45b68a4;
    border-radius: 8px;
    padding: 30px;
}

@media (max-width: 768px) {
    .plantandoTexto {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 24px;
    }
}


header {
    background-color: #F45B69;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-family: 'Amatic_SC';
}

/************BOTÃO LATERAL FIXO************/
.icon-atendimento {
    position: fixed;
    bottom: 55px;
    right: 10px;
    z-index: 999;
}

.icon-atendimento:hover {
    background-color: rgba(0, 0, 0, 0.521);
    opacity: 0.7;
    border-radius: 50%;
}

main {
    padding: 20px;
}

.section-light {
    background-color: #FFE0D1;
    padding: 50px 0px;
    text-align: center;
}

.section-light h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F45B69;
}

.section-light .pitaya-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-dark {
    background-color: #593F62;
    color: #FFFFFF;
    padding: 50px 0px;
    text-align: center;
}

.section-dark h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFA9A3;
}

.section-dark .pitaya-images_beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitaya-images, .pitaya-images_beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pitaya-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
    animation: moveImage 3s infinite alternate;
}

.pitaya-images_beneficios img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
}

.tipos_pitaya {
    display: flex;
    justify-content: center;
}

.tipos_pitaya th {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.tipos_pitaya th:first-child a, .tipos_pitaya th:nth-child(2) a, .tipos_pitaya th:last-child a {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.tipos_pitaya th:first-child {
    background-color: #E2619A;
    border-radius: 10px;
    /*border: black 1px solid;*/
}

.tipos_pitaya th:first-child:hover {
    background-color: #a0436d;
    box-shadow: black 1px 2px 2px;
    cursor: pointer;
}

.tipos_pitaya th:nth-child(2) {
    background-color: #91010B;
    border-radius: 10px;
}

.tipos_pitaya th:nth-child(2):hover {
    background-color: #5e060c;
    box-shadow: black 1px 2px 2px;
    cursor: pointer;
}

.tipos_pitaya th:last-child {
    background-color: #F7AD00;
    border-radius: 10px;
}

.tipos_pitaya th:last-child:hover {
    background-color: #aa7907;
    box-shadow: black 1px 2px 2px;
    cursor: pointer;
}


@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

.lights {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.lights::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.5),
        rgba(0, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
    );
    animation: moveLights 10s infinite;
}

@keyframes moveLights {
    0% {
        transform: translate(-10%, -10%);
    }
    50% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
}

.lista {
    font-family: Arial, sans-serif;

}

.lista li {
    list-style-type: none;
}

.item {
    cursor: pointer;
    padding: 5px 2px;
   /* background-color: #7c7878; */
    border-radius: 40px;
    outline: none;
    width: 300px;
    font-family: 'Pinyon_Script';
    margin: 10px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    border: none;
    background: none;
    background: linear-gradient(45deg, hsla(333, 69%, 63%, 0.827), rgba(67, 253, 67, 0.827), hsl(42, 100%, 48%, 0.827));
    background-size: 400% 400%;
    animation: lightsBackgroundAnimation 15s infinite;
}

.item:hover {
    background-color: black;
    border: white 1px solid;
    color: white;
}

.info {
    display: none;
  /*  background-color: #888888; */
    padding: 10px;
    width: 380px;
    margin: 5px auto;
}

@keyframes lightsBackgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.descricao {
    background-color: #9e7aaa;
    border-radius: 5px;
    padding: 5px;
}

.pitaya-images_produtores img {
    width: 330px;
    height: 248px;
    object-fit: cover;
    border-radius: 10px;
}

.e-commerce {
    height: 80px;
    width: 500px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mercado_livre:hover{
    background-color: #FFD100;
    border-radius: 10px;
    padding: 5px;
}

.shopee:hover{
    background-color: #eca496;
    border-radius: 10px;
    padding: 5px;
}